<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title>ERROR</title>

    </head>


    <body>

            <!-- https://memegen.link/ -->
            <!-- https://knowyourmeme.com/memes/grumpy-cat -->
            <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=../images/danipt.jpg" title="{{ top }}">

    </body>



